html, body {
    background-color: white;
    font-family: Consolas, monospace;
}

#routes-table th {
	text-transform: capitalize;
	text-align: left;
}

#routes-table thead {
	background-color: lightgray;
}

#routes-table tr th, #routes-table tr td  {
	padding: 5px;
}
